@import "colors";

/**
 * Mixins
 */ 
@mixin maiuscula{
    text-transform: uppercase
}

/**
 * Header da Página
 * Este comentário vai aparecer no arquivo .css
 */
#header{
    background-color: $fundo-escuro-topo;
    
    #logo{
        padding: 10px 0px;
    }
    
    a{
        color:white;
        @include maiuscula;
        height:#{$topo-tamanho-da-imagem + 20}px;
        line-height: #{$topo-tamanho-da-imagem}px;
        border-radius: 0px;
        
        &:hover{
            border-bottom: 2px solid #fff    
        }
        
        .busca{
            img{
                margin-top: -10px; // como deixar dinamico isso?
            }   
            &:hover{
                border: 0
            }
        }
    }
}

#banner{
    height: 430px;
    padding: 150px 0px 0px 50px;
    background: url('images/XC60_Diesel.png') no-repeat center;
    
    h1{
        font-size: 64px;
        font-weight: bold;
        @include maiuscula;
    }
    
    h5{
        @include maiuscula;
    }
}

/**
 * Rodapé da Página
 */

// este estilo será herdado nos links do rodapé
.links-padrao{
    text-decoration: underline;
}

#rodape{
    background-color: $fundo-escuro-rodape;
    padding: 25px 0px;
    
    .row{
        padding: 10px;
    }
    
    .mapa a{
        font-weight: bold;
        &:hover{
            @extend .links-padrao;
        }
    }
    
    .copyright{
        color: $cor-texto-rodape;
        margin-bottom: 0 !important;
    }
    
    a, btn{
        color: $cor-texto-rodape;
        &:hover{
            @extend .links-padrao;
        }
    }
}

/**
 * Criando um loop para gerar clases CSS
 */
$i: 0;
@while $i <= 10 {
    .padding-#{$i} { padding: $i; }
    .padding-top-#{$i} { padding-top: $i; }
    .margin-#{$i} { margin: $i; }
    .margin-top-#{$i} { margin-top: $i; }
    $i: $i + 10;
}