@import "colors";

/**
 * Mixins
 */ 
@mixin maiuscula{
    text-transform: uppercase
}

h1{
    font-size: 64px;
    font-weight: bold;
    @include maiuscula;
}
    
h5{
    padding-top: 130px;
    @include maiuscula;
}

#banner{
    background: url('images/XC60_Diesel.png') no-repeat center;
    height: 430px;
    padding-left: 50px;
}

/**
 * Header da Página
 * Este comentário vai aparecer no arquivo .css
 */
#header{
    background-color: $fundo-escuro-topo;
    
    a{
        border-radius: 0;
        color:white;
        height:#{$topo-tamanho-da-imagem + 20}px;
        line-height: #{$topo-tamanho-da-imagem}px;
        @include maiuscula;
        
        &:hover{
            border-bottom: 2px solid #fff    
        }
        
        .busca{
            img{
                margin-top: -10px; // como deixar dinamico isso?
            }   
            &:hover{
                border: 0
            }
        }
    }
    
    #logo{
        padding: 10px 0;
    }
}

/**
 * Rodapé da Página
 */

// este estilo será herdado nos links do rodapé
.links-padrao{
    text-decoration: underline;
}

#rodape{
    background-color: $fundo-escuro-rodape;
    padding: 25px 0;
    
    .row{
        padding: 10px;
    }
    
    .mapa a{
        font-weight: bold;
        &:hover{
            @extend .links-padrao;
        }
    }
    
    .copyright{
        color: $cor-texto-rodape;
        margin-bottom: 0;
    }
    
    a, btn{
        color: $cor-texto-rodape;
        &:hover{
            @extend .links-padrao;
        }
    }
}

/**
 * Criando um loop para gerar clases CSS
 */
$i: 0;
@while $i <= 10 {
    .padding-#{$i} { padding: $i; }
    .padding-top-#{$i} { padding-top: $i; }
    .margin-#{$i} { margin: $i; }
    .margin-top-#{$i} { margin-top: $i; }
    $i: $i + 10;
}